.tabs {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 0;
  padding-bottom: 22px;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100% / 4);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 44px;
    height: 3px;
    background: #2f80ed;
    opacity: 0;
    transition: 0.2s;
  }

  &.isActive {
    &::after {
      opacity: 1;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 9px;
  line-height: 100%;
}

:global(.body--dark) {
  .footer {
    ion-tab-bar {
      background-color: var(--icube-dark-grey);
      --background: var(--icube-dark-grey);
    }
  }

  .icon path {
    color: #FFFFFF;
  }

  .label {
    color: #FFFFFF;
  }
}

:global(.body--light) {
  .footer {
    ion-tab-bar {
      background-color: #ffffff;
      --background: #ffffff;
      --border: none;
    }
  }

  .icon path {
    color: var(--icube-dark-grey);
  }

  .label {
    color: var(--icube-dark-grey);
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    ion-tab-bar {
      background-color: var(--icube-dark-grey);
      --background: var(--icube-dark-grey);
    }
  }

  .icon path {
    color: #FFFFFF;
  }

  .label {
    color: #FFFFFF;
  }
}

@media (prefers-color-scheme: light) {
  .footer {
    ion-tab-bar {
      background-color: #ffffff;
      --background: #ffffff;
      --border: none;
    }
  }

  .icon path {
    color: var(--icube-dark-grey);
  }

  .label {
    color: var(--icube-dark-grey);
  }
}