.guestCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  font-family: 'SuisseIntl', sans-serif;
  background: var(--icube-dark-grey);
  box-shadow: 1px 1px 4px 0px #FFFFFF14;

  &__name {
    font-size: 16px;
    font-weight: 700;
    color: var(--icube-dark-theme-light-blue)
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--icube-light-grey);
  }
}

.vehicle {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    width: 24px;
    height: 24px;

    path {
      fill: var(--icube-light-theme-green);
    }
  }

  span {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    color: var(--icube-light-theme-green);
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.updateIcon {
  width: 24px;
  height: 24px;
}

.trashIcon {
  width: 24px;
  height: 24px;

  path {
    fill: var(--icube-light-theme-orange);
  }
}

:global(.body--dark) {
  .guestCard {
    background: var(--icube-dark-grey);

    &__name {
      color: var(--icube-dark-theme-light-blue)
    }

    &__info {
      color: var(--icube-light-grey);
    }
  }

  .updateIcon svg path {
    fill: #ffffff;
  }
}

:global(.body--light) {
  .guestCard {
    background: var(--icube-very-light-grey);

    &__info {
      color: var(--icube-dark-grey);
    }
  }

  .updateIcon svg path {
    fill: var(--icube-dark-theme-light-blue);
  }
}

@media (prefers-color-scheme: dark) {
    .guestCard {
    background: var(--icube-dark-grey);

    &__name {
      color: var(--icube-dark-theme-light-blue)
    }

    &__info {
      color: var(--icube-light-grey);
    }
  }

  .updateIcon svg path {
    fill: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
    .guestCard {
    background: var(--icube-very-light-grey);

    &__info {
      color: var(--icube-dark-grey);
    }
  }

  .updateIcon svg path {
    fill: var(--icube-dark-theme-light-blue);
  }
}
