.lockerPage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 8px;
}

.flexCenter {
  justify-content: center;
}