.modal {
  --width: 100%;
  --border-radius: 16px 16px 0 0;
  align-items: flex-end;
  background-color: transparent;
}

.contentWrapper {
  position: relative;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 33px 0 8px;
  height: 100%;
  background: transparent;
}

.btn {
  position: absolute;
  top: 10px;
  right: 18px;
  z-index: 1;
}

.icon {
  width: 24px;
  height: 24px;
}

:global(.body--dark) {
  .modal > div {
    background: var(--icube-dark-grey);
    box-shadow: 2px 2px 4px 0px #FFFFFF33;
  }

  .icon path {
    fill: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .modal > div {
    background: var(--icube-dark-grey);
    box-shadow: 2px 2px 4px 0px #FFFFFF33;
  }

  .icon path {
    fill: #ffffff;
  }
}

:global(.body--light) {
  .modal > div {
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px #00000040;
  }

  .icon path {
    fill: var(--icube-dark-grey);
  }
}

@media (prefers-color-scheme: light) {
  .modal > div {
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px #00000040;
  }

  .icon path {
    fill: var(--icube-dark-grey);
  }
}